<mat-card>
  <mat-card-header>
    <mat-card-title>Write a new comment</mat-card-title>
    <mat-card-subtitle>
      <form [formGroup]="newCommentGroup">
        <mat-form-field>
          <input matInput placeholder="Title" formControlName="title" />
        </mat-form-field>
      </form>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="newCommentGroup">
      <mat-form-field>
        <textarea
          matInput
          placeholder="Content"
          formControlName="content"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="newComment()"
      [disabled]="newCommentGroup.invalid"
    >
      Submit
    </button>
  </mat-card-actions>
</mat-card>
