.edit-content {
  min-height: 200px;
  min-width: 300px;
}

.profile-picture {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 10px 0 10px 10px;
}

.preview-content {
  min-height: 300px;
  max-width: 500px;
  overflow: visible;
}
