<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>edit</mat-icon>
      <span>Edit Post</span>
    </ng-template>
    <mat-card>
      <form
        fxLayoutAlign="stretch"
        fxLayout="column"
        class="post-form"
        [formGroup]="newPostForm"
      >
        <mat-card-title>
          <mat-form-field style="width: 300px" class="post-form__field">
            <input matInput placeholder="Title" formControlName="title" />
          </mat-form-field>
        </mat-card-title>
        <mat-card-content>
          <mat-form-field class="edit-content">
            <textarea
              class="edit-content"
              matInput
              placeholder="Content"
              formControlName="content"
            ></textarea>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </form>
    </mat-card>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>preview</mat-icon>
      <span>Preview Post</span>
    </ng-template>

    <mat-card
      *ngIf="
        newPostForm.value.title && newPostForm.value.content;
        else notEdited
      "
      class="preview-content"
    >
      <mat-card-header>
        <mat-card-title>
          {{ newPostForm.value.title }}
        </mat-card-title>

        <mat-card-subtitle>{{ getDate() }}</mat-card-subtitle>

        <span fxFlex></span>

        <button mat-button>
          <span class="profile-name">{{ user.username }}</span>
          <img
            class="profile-picture"
            src="{{ domain }}profile/picture/{{ userId }}"
            alt="profile-picture"
          />
        </button>
      </mat-card-header>

      <mat-card-content>
        {{ newPostForm.value.content }}
      </mat-card-content>
    </mat-card>

    <ng-template #notEdited>
      <h1 class="preview-content">No content to preview!</h1>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<mat-dialog-actions>
  <button
    class="submit-new-post"
    fxFlexFill
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="newPostForm.invalid"
    (click)="newPost()"
  >
    Create Post
  </button>
</mat-dialog-actions>
