<div class="home">
  <section class="hidden">
    <h1>👤 About Me</h1>
    <p>Hey, I'm Johannes Höllwerth, in the Internet mainly Baumistlustig. I'm doing some development in<br>
      my free time, such as API projects with NestJS, Front-End Projects with Angular or Minecraft Plugins<br>
      with the Spigot/Paper API. Other than coding I also love sailing, cycling and building computers!<br>
    </p>
  </section>

  <section class="hidden">
    <h1>📱 Contact</h1>
    <p>If you want to contact me, you can use my mail-address: <b>johannes.hoellwerth@protonmail.com</b></p>
    <p>Also, you can DM me on Discord: <b>Baumistlustig#4200</b></p>
  </section>

  <section class="hidden">
    <h1>📊 GitHub Stats</h1>
    <a href="https://github.com/baumistlustig/stats">
      <img
        src="https://raw.githubusercontent.com/Baumistlustig/stats/9d97dac37b9b8d5f4905d636ab2c637365465f65/generated/overview.svg{{getDarkmode()}}"
        alt="github-statistics">
      <img
        src="https://raw.githubusercontent.com/Baumistlustig/stats/9d97dac37b9b8d5f4905d636ab2c637365465f65/generated/languages.svg{{getDarkmode()}}"
        alt="github-languages">
    </a>
  </section>
  <section class="hidden">
    <h2>🏆 Trophies</h2>
    <img *ngIf="getDarkmode() === '#gh-dark-mode-only'; else whitemode"
         src="https://github-profile-trophy.vercel.app/?username=baumistlustig&theme=darkhub"
         alt="trophies">
    <ng-template #whitemode>
      <img src="https://github-profile-trophy.vercel.app/?username=baumistlustig&theme=flat" alt="trophies">
    </ng-template>
  </section>

  <section class="hidden">
    <h2>🖥️ Technologies</h2>
    <p>Here you can see technologies which I'm currently using/used in the past</p>
    <ul>
      <li>📱 <strong>Frontend: </strong>
        <a href="https://angular.io/">Angular</a>,
        <a href="https://en.wikipedia.org/wiki/Hypertext_Markup_Language">HTML</a>/<a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>,
        <a href="https://en.wikipedia.org/wiki/JavaScript">Java-</a>/<a href="https://www.typescriptlang.org/">TypeScript</a>
      </li>
      <li>⚙ <strong>Backend: </strong>
        <a href="https://nestjs.com/">NestJS</a>,
        <a href="https://expressjs.com/">ExpressJS</a>,
        <a href="https://nodejs.org/">NodeJS</a>,
        <a href="https://en.wikipedia.org/wiki/JavaScript">Java-</a>/<a href="https://www.typescriptlang.org/">TypeScript</a>,
        <a href="https://mongodb.com/">MongoDB</a>, <a href="https://redis.io/">Redis</a>
      </li>
      <li>🎮 <strong>Minecraft: </strong>
        <a href="https://www.java.com/en/">Java</a>,
        <a href="https://papermc.io/">PaperMC</a>,
        <a href="https://papermc.io/downloads#Velocity">Velocity</a>
      </li>
      <li>📟 <strong>OS &amp; Hosting: </strong>
        <a href="https://pop.system76.com/">PopOS</a>,
        <a href="https://ubuntu.com/download/server">Ubuntu Server</a>,
        <a href="https://www.mongodb.com/atlas">MongoDB Atlas</a>,
        <a href="https://linode.com/">Linode</a>
      </li>
      <li>🧰 <strong>Tools: </strong>
        <a href="https://www.jetbrains.com/webstorm/">Webstorm</a>,
        <a href="https://www.jetbrains.com/idea/">IntelliJ</a>,
        <a href="https://code.visualstudio.com/">VisualStudioCode</a>
      </li>
      <li>💡 <strong>Other: </strong>
        <a href="https://python.org/">Python</a>,
        <a href="https://github.com/">GitHub</a>,
        <a href="https://docker.com/">Docker</a>,
        <a href="https://git-scm.com/">Git</a>
      </li>
    </ul>
  </section>

  <section class="hidden">
    <h2>🚧 Projects</h2>
    <p>Down below, you can see some projects of mine, which I've done
      or that are currently in development!</p>
    <a mat-raised-button color="primary" routerLink="/projects">Projects »</a>
  </section>

</div>
