.projects {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

.welcome {
  text-align: center;
  margin: 23% auto;
}

.welcome h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.welcome h2 {
  color: #ff4081;
}

.welcome h2 a {
  color: #fdb4cd;
}

mat-card {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
}

mat-card-content {
  margin: 0 auto;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

a {
  color: lightblue;
  text-decoration: none;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
