<div class="projects">
  <section class="hidden">
    <h1><b>🚧 Projects</b></h1>
    <p>
      Here I try to show off some of my current or old projects which I've done / am doing.<br>
      All of them are in my GitHub GitHub account with source code and all credits. You can <br>
      support these via <a mat-button href="https://github.com/sponsors/Baumistlustig/">GitHub Sponsors</a>
    </p>
  </section>

  <section class="hidden">
    <a mat-button href="https://github.com/Baumistlustig/LightControll-RaspberryPI-"><h2>💡Lightcontroll</h2></a>

    <p>I created this project for my own room to controll my lights with a 7-inch touch-screen and a Discord-Bot</p>
    <p><b>Status: </b> <i>Done</i></p>

    <ul><p><b>💻 Technologies: </b></p>
      <li><b>📙 Discord & and Display: </b><a href="https://python.org/">Python</a></li>
    </ul>
  </section>

  <section class="hidden">
    <a mat-button href="https://github.com/Baumistlustig/Minecraft-Gamemode"><h2>🎮 Minecraft - Gamemode</h2></a>

    <p>This is a minecraft project involving the spigot / paper API where I tried to make it easier for new Devs<br>
      to make their own Gamemodes
    </p>
    <p><b>Status: </b><i>In Development</i></p>

    <ul><p><b>💻 Technologies: </b></p>
      <li><b>🧩 Minecraft: </b><a href="https://papermc.io/">Paper</a></li>
    </ul>
  </section>

  <section class="hidden">
    <a mat-button><h2>📈 Levelsystem</h2></a>

    <p>In this project the goal is to create a cross-platform, cross-server messaging/activity Levelsystem.<br>
      It consists of an open backend using a NestJS REST API and several clients (e.g. Minecraft, Discord etc.)
    </p>
    <p><b>Status: </b><i>Currently Paused</i></p>

    <ul> <p><b>Platforms:</b></p>
      <li>Minecraft</li>
      <li>Discord</li>
      <li>More coming later!</li>
    </ul>

    <ul><p><b>💻 Technologies: </b></p>
      <li><b>📱 Front-End: </b><a href="https://angular.io/">Angular</a></li>
      <li><b>⚙️ Back-End: </b><a href="https://nestjs.com/">NestJS</a></li>
    </ul>
  </section>

  <section class="hidden">
    <a mat-button href="https://forumecho.eu/"><h2>🇪🇺 ForumEcho</h2></a>

    <p>This project is a really big one with a big back- & frontend. It's a platform, similar to Reddit,<br>
      where EU-citizens are able to submit EU-policy ideas. <a mat-button href="https://github.com/Forum-Echo">» Github</a>
    </p>

    <p><b>Status: </b><i>Active Development</i></p>

    <ul> <p><b>People Involved: </b></p>
      <li><a mat-button href="https://github.com/avanloo01">
        Arthur Van Loo
      </a> (Founder & FrontEnd Developer)</li>
      <li><a mat-button href="https://github.com/baumistlustig">
        Johannes Höllwerth
      </a>(Co-Founder & Full-Stack Developer) <- Me</li>
    </ul>

    <ul><p><b>💻 Technologies: </b></p>
      <li><b>📱 Front-End: </b><a href="https://angular.io/">Angular</a></li>
      <li><b>⚙️ Back-End: </b><a href="https://nestjs.com/">NestJS</a></li>
    </ul>
  </section>

  <section class="hidden">
    <a mat-button href="/"><h2>🕸️ This Website</h2></a>

    <p>
      This is my personal homepage which you are currently seeing. It's based off Angular & Material <br>
      and contains data & information concerning myself.
    </p>

    <p><b>Status: </b><i>Active Development</i></p>

    <ul><p><b>💻 Technologies: </b></p>
      <li><b>📱 Front-End: </b><a href="https://angular.io/">Angular</a></li>
    </ul>
  </section>
</div>
