<div class="projects">

  <div class="welcome">
    <h1>🚧 Projects</h1>

    <h2>All of my public <a href='http://github.com/baumistlustig?tab=repositories'>projects</a></h2>
  </div>

  <mat-card class="hidden">
    <mat-card-header>
      <a
        mat-button
        href="https://github.com/Baumistlustig/LightControll-RaspberryPI-"
      ><mat-card-title>💡Lightcontroll</mat-card-title></a>
    </mat-card-header>

    <mat-card-content>
      <p>
        I created this project for my own room to controll my lights with a 7-inch
        touch-screen and a Discord-Bot
      </p>
      <p><b>Status: </b> <i>Done</i></p>

      <ul>
        <p><b>💻 Technologies: </b></p>
        <li>
          <b>📙 Discord & and Display: </b
          ><a href="https://python.org/">Python</a>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="hidden">
    <mat-card-header>
      <a mat-button href="https://github.com/Baumistlustig/Minecraft-Gamemode"
      ><mat-card-title>🎮 Minecraft - Gamemode</mat-card-title></a
      >
    </mat-card-header>

    <mat-card-content>
      <p>
        This is a minecraft project involving the spigot / paper API where I tried
        to make it easier for new Devs<br />
        to make their own Gamemodes
      </p>
      <p><b>Status: </b><i>In Development</i></p>

      <ul>
        <p><b>💻 Technologies: </b></p>
        <li><b>🧩 Minecraft: </b><a href="https://papermc.io/">Paper</a></li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="hidden">
    <mat-card-header>
      <a mat-button><mat-card-title>📈 Levelsystem</mat-card-title></a>
    </mat-card-header>

    <mat-card-content>
      <p>
        In this project the goal is to create a cross-platform, cross-server
        messaging/activity Levelsystem.<br />
        It consists of an open backend using a NestJS REST API and several clients
        (e.g. Minecraft, Discord etc.)
      </p>
      <p><b>Status: </b><i>Currently Paused</i></p>

      <ul>
        <p><b>Platforms:</b></p>
        <li>Minecraft</li>
        <li>Discord</li>
        <li>More coming later!</li>
      </ul>

      <ul>
        <p><b>💻 Technologies: </b></p>
        <li><b>📱 Front-End: </b><a href="https://angular.io/">Angular</a></li>
        <li><b>⚙️ Back-End: </b><a href="https://nestjs.com/">NestJS</a></li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="hidden">
    <mat-card-header>
      <a mat-button href="https://forumecho.eu/"><mat-card-title>🇪🇺 ForumEcho</mat-card-title></a>
    </mat-card-header>

    <mat-card-content>
      <p>
        This project is a really big one with a big back- & frontend. It's a
        platform, similar to Reddit,<br />
        where EU-citizens are able to submit EU-policy ideas.
        <a mat-button href="https://github.com/Forum-Echo">» Github</a>
      </p>

      <p><b>Status: </b><i>Active Development</i></p>

      <ul>
        <p><b>People Involved: </b></p>
        <li>
          <a mat-button href="https://github.com/avanloo01"> Arthur Van Loo </a>
          (Founder & FrontEnd Developer)
        </li>
        <li>
          <a mat-button href="https://github.com/baumistlustig">
            Johannes Höllwerth </a
          >(Co-Founder & Full-Stack Developer) <- Me
        </li>
      </ul>

      <ul>
        <p><b>💻 Technologies: </b></p>
        <li><b>📱 Front-End: </b><a href="https://angular.io/">Angular</a></li>
        <li><b>⚙️ Back-End: </b><a href="https://nestjs.com/">NestJS</a></li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="hidden">
    <mat-card-header>
      <a mat-button href="/"><mat-card-title>🕸️ This Website</mat-card-title></a>
    </mat-card-header>

    <mat-card-content>
      <p>
        This is my personal homepage which you are currently seeing. It's based
        off Angular & Material and contains data & information concerning myself.
        A backend is linked via a REST API based off NestJS.
      </p>

      <p><b>Status: </b><i>Active Development</i></p>

      <ul>
        <p><b>💻 Technologies: </b></p>
        <li><b>📱 Front-End: </b><a href="https://angular.io/">Angular</a></li>
        <li><b>⚙️ Backend: </b><a href='http://nestjs.com'>NestJS</a></li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
