<mat-tab-group mat-dialog-content>

  <mat-tab label="Register">
    <ng-template matTabContent>
      <div class="register">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-form-field>
              <input matInput placeholder="Username" [(ngModel)]="registerCredentials.username" name="username">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item role="listitem">
            <mat-form-field>
              <input matInput placeholder="Email" [(ngModel)]="registerCredentials.email">
            </mat-form-field>
          </mat-list-item>

          <mat-list-item role="listitem">
            <mat-form-field>
              <input matInput placeholder="Password" type="password" [(ngModel)]="registerCredentials.password">
            </mat-form-field>
          </mat-list-item>
        </mat-list>
      </div>
      <button mat-raised-button color="primary" fxLayoutAlign="center start" [mat-dialog-close]="registerCredentials"
              cdkFocusInitial>Register
      </button>

    </ng-template>
  </mat-tab>

  <mat-tab label="Login">
    <ng-template matTabContent>
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" [(ngModel)]="credentials.username">
        </mat-form-field>

        <span fxFlex></span>

        <mat-form-field>
          <input matInput placeholder="Password" type="password" [(ngModel)]="credentials.password">
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" fxLayoutAlign="center start" [mat-dialog-close]="credentials"
              cdkFocusInitial>Login
      </button>

    </ng-template>
  </mat-tab>
</mat-tab-group>
