.posts {
  min-height: 1000px;
}

.post {
  max-width: 500px;
  margin: 20px;
}

.postContent {
  height: 15em;
  margin: 15px 15px 0;
  overflow:auto;
  text-align: justify;
  line-height: 150%;
}

.profile-picture {
  height: 50px;
  width: 50px;
}

.profile-name {
  margin-top: 15px;
  margin-left: 15px;
}
