<div class="posts">
  <mat-card class="post" *ngFor="let post of posts; let i = index">

    <mat-card-content class="postContent">
      {{ post.content }}
    </mat-card-content>

    <mat-card-actions class="postFooter">
      <button mat-icon-button><mat-icon>thumb_up</mat-icon></button>
      <button mat-icon-button><mat-icon>thumb_down</mat-icon></button>

      <span fxFlex></span>

      <button mat-button *ngIf="userIsAuthor(post.authorId)">
        <mat-icon>edit</mat-icon>Edit
      </button>
    </mat-card-actions>
  </mat-card>
</div>
