<div class="new-post" *ngIf="userIsLoggedIn()">
  <button mat-fab color="primary" class="scroll-to-top" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="posts">
  <mat-card class="post" *ngFor="let post of posts; let i = index">
    <mat-card-header>
      <mat-card-title>
        <form *ngIf="editing === post._id; else title" [formGroup]="postGroup">
          <mat-form-field>
            <input matInput formControlName="title" placeholder="Title" />
          </mat-form-field>
        </form>
        <ng-template #title>
          {{ post.title }}
        </ng-template>
      </mat-card-title>
      <mat-card-subtitle>{{ convertDate(post.created) }}</mat-card-subtitle>

      <span fxFlex></span>

      <button
        matTooltip="Visit the user's profile"
        mat-button
        (click)="router.navigate(['profiles/' + users[i].username])"
      >
        <span class="profile-name">{{ users[i].username }}</span>
        <img
          class="profile-picture"
          src="{{ domain }}profile/picture/{{ post.authorId }}"
          alt="profile-picture"
        />
      </button>
    </mat-card-header>

    <mat-card-content class="postContent">
      <form *ngIf="editing === post._id; else content" [formGroup]="postGroup">
        <mat-form-field>
          <textarea
            matInput
            name="content"
            placeholder="Content"
            formControlName="content"
          ></textarea>
        </mat-form-field>
      </form>

      <ng-template #content>
        {{ post.content }}
      </ng-template>

      <app-new-comment
        *ngIf="writingComment === post._id"
        [parentId]="post._id"
      ></app-new-comment>

      <div *ngFor="let comment of post.comments; let i = index" class="comment">
        <app-comments
          *ngIf="readingComments === post._id"
          [commentId]="comment"
          [parentPost]="post._id"
        ></app-comments>
      </div>
    </mat-card-content>

    <mat-card-actions class="postFooter">
      <button
        *ngIf="userIsAuthor(post.authorId); else notLoggedIn1"
        mat-icon-button
        color="{{ returnVoted(post, true) }}"
        (click)="voteUp(i)"
      >
        <mat-icon>thumb_up</mat-icon>
      </button>
      {{ post.likedBy.length }}
      <button
        *ngIf="userIsAuthor(post.authorId); else notLoggedIn2"
        mat-icon-button
        color="{{ returnVoted(post, false) }}"
        (click)="voteDown(i)"
      >
        <mat-icon>thumb_down</mat-icon>
      </button>
      {{ post.dislikedBy.length }}

      <ng-template #notLoggedIn1>
        <button mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
      </ng-template>

      <ng-template #notLoggedIn2>
        <button mat-icon-button>
          <mat-icon>thumb_down</mat-icon>
        </button>
      </ng-template>

      <button
        mat-icon-button
        matTooltip='Show comments'
        *ngIf="post.comments && post.comments[0] != null"
        (click)="toggleComments(post)"
        [color]="readingComments === post._id ? 'accent' : 'primary'"
      >
        <mat-icon>comment</mat-icon>
      </button>

      <span fxFlex></span>

      <button
        matTooltip='Create a new comment below this post'
        mat-icon-button
        color="accent"
        (click)="
          writingComment === post._id
            ? (writingComment = false)
            : (writingComment = post._id)
        "
      >
        <mat-icon>add</mat-icon>
      </button>

      <span fxFlex></span>

      <div *ngIf="userIsAuthor(post.authorId)">
        <button
          mat-button
          color="warn"
          *ngIf="editing === post._id"
          (click)="deletePost(post._id)"
        >
          <mat-icon>delete</mat-icon>
          Delete
        </button>

        <button
          mat-button
          (click)="editing === post._id ? savePost(post) : initForm(post)"
          color="{{ editing === post._id ? 'primary' : 'none' }}"
        >
          <mat-icon>edit</mat-icon>
          {{ editing === post._id ? save : edit }}
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
